OPENAI_API_KEY=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
API_PW=
DB_USER=
DB_PASS=
DB_HOST=
DB_NAME_MDC=
DB_NAME_USERMANAGE=
DB_KEY_SERVER=
DB_KEY_CLIENTKEY=
DB_KEY_CLIENTCERT=
SLACK_WEBHOOK=
SLACK_ERROR_CHANNEL=
SLACK_BOT_NAME=
